<md-toolbar [ngClass]="'secondary-header'"><span>Login</span></md-toolbar>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <md-input-container [ngClass]="'form-element-container'">
        <input mdInput type="text" name="mobile" placeholder="Mobile"
               formControlName="mobile" id="login-mobile-input" required #mobile>
        <md-hint align="end">{{mobile.value.length}} / 9</md-hint>
    </md-input-container>
    <div *ngIf="formErrors.mobile" [ngClass]="['form-element-container', 'error']">
        {{ formErrors.mobile }}
    </div>
    <md-input-container [ngClass]="'form-element-container'">
        <input mdInput type="password" name="password" placeholder="Password"
               #password formControlName="password" id="login-password-input" required>
    </md-input-container>
    <div *ngIf="formErrors.password" [ngClass]="['form-element-container', 'error']">
        {{ formErrors.password }}
    </div>
    <div *ngIf="formErrors.login" [ngClass]="['form-element-container', 'error']">
        {{ formErrors.login }}
    </div>
    <button md-raised-button type="submit" id="login-submit-button"
            [disabled]="!loginForm.valid">OK</button>
</form>