<h1 id="page-title">Close Cashier</h1>
<div fxLayout="column" fxLayoutAlign.gt-xs="space-around center" fxLayoutGap="1em">
	<md-card>
		<md-card-title>Money count</md-card-title>
		<md-card-content fxLayout="column">
			<h3>
				Cashier money: 
				<span class="text-primary" *ngIf="cashier">
					<currency [value]="cashier.amount"></currency>
				</span>
			</h3>
			<md-input-container>
				<input mdInput type="number" placeholder="Money counted" [(ngModel)]="countedMoney" (blur)="formatCountedMoney()" id="money-counted-input">
			</md-input-container>
			<b>
				Imbalance: 
				<span class="text-primary">
					<currency [value]="getDesbalance()"></currency>
				</span>
			</b>
		</md-card-content>
	</md-card>
	<md-card>
		<md-card-title>About the result</md-card-title>
		<md-card-content fxLayout="column">
			<div fxLayout="row">
				<md-radio-group>
					<md-radio-button name="agreeOption" [checked]="selectedOption =='I agree'" (click)="selectOption('I agree')" value="I agree" id="agree-radio-button">I agree</md-radio-button>
					<md-radio-button name="agreeOption" [checked]="selectedOption == 'I disagree'" (click)="selectOption('I disagree')" value="I disagree">I disagree</md-radio-button>
				</md-radio-group>
			</div>
			<h3>Observations</h3>
			<md-input-container>
				<input mdInput placeholder="Comment about the closure" [(ngModel)]="comment">
            </md-input-container>
            <button md-raised-button color="primary" (click)="close()" [disabled]="isInvalidForm()" id="close-cashier-button">Close cashier</button>
        </md-card-content>
	</md-card>
</div>