<md-toolbar color="primary">
	<span (click)="goToPreviousPage()" id="back-button">	
		<button md-icon-button>
			<md-icon>keyboard_backspace</md-icon>
		</button>
		Back
	</span>
</md-toolbar>
<div class="content">
	<h1>Order tracking</h1>
	<md-card>
		<md-card-content *ngIf="!loading; else spinner">
			<div *ngIf="products; else notFound">
				<span>
					<b>Reference</b>
					: {{ticketReference}}
				</span>
				<ngx-datatable
					fxHide.xs
					class="material"
					[messages]="{emptyMessage: 'No products in the ticket', totalMessage: ' products'}"
					[rowHeight]="'auto'"
					[columnMode]="'force'"
					[rows]="products"
					[reorderable]="false"
					[columns]="columns"
					[footerHeight]="50"
					[limit]="10">
					<ngx-datatable-column name="Code" prop="productCode" >
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{value}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Description">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{value}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="State" prop="shoppingState">
						<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
							<b *ngIf="value=='CLOSED'; else notClosed" class="green">{{value}}</b>
							<ng-template #notClosed>
								<b>{{value}}</b>
							</ng-template>									
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
				<div fxHide fxShow.xs>
					<md-list *ngFor="let product of products">
					    <md-list-item>
						    <md-icon md-list-icon>shopping_basket</md-icon>
					        <h4 md-line> 
					            {{product.description}}
					        </h4>
					        <p md-line>
					            <b *ngIf="product.shoppingState=='CLOSED'; else notClosedMobile" class="green">
					            	{{product.shoppingState}}
					            </b>
								<ng-template #notClosedMobile>
									<b>{{product.shoppingState}}</b>
								</ng-template>
					      	</p>
					    </md-list-item>
					    <md-divider></md-divider>
					</md-list>
				</div>
			</div>
			<ng-template #notFound>
				<h3 class="red">
					<button md-icon-button>
						<md-icon>warning</md-icon>
					</button>
					<span fxHide.xs>
						We're sorry, there is no ticket with the reference '{{ticketReference}}'
					</span>
					<span fxHide fxShow.xs>
						We're sorry, there is no ticket with the given reference
					</span>
				</h3>
			</ng-template>
		</md-card-content>
		<ng-template #spinner>
			<md-spinner></md-spinner>
		</ng-template>
	</md-card>
</div>