<div fxLayout="column" fxLayoutAlign="space-around center">
	<md-card id="printOptionsContainer" *ngIf="!printInvoiceSelected">
		<md-card-title>Print options</md-card-title>
		<md-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1em">
			<button md-raised-button color="primary" (click)="printInvoice()" *ngIf="!printed">Print invoice</button>
			<button md-raised-button color="primary" (click)="createVoucher()">Print voucher</button>
			<button md-raised-button color="warn" routerLink="/home">Finish</button>
		</md-card-content>
	</md-card>
	<md-card *ngIf="printInvoiceSelected">
		<md-card-content fxLayout="column" fxLayoutGap="1em">
			<md-card>
				<user-association-view></user-association-view>
			</md-card>
			<button md-raised-button color="primary" (click)="printInvoice()" [disabled]="!userMobile">Print invoice</button>
			<button md-raised-button color="warn" (click)="cancel()">Cancel</button>
		</md-card-content>
	</md-card>
</div>